@import ( reference ) 'resources/lib/codex-design-tokens/theme-wikimedia-ui.less';

.ext-reportincident-dialog {
	&__text-label {
		font-family: @font-family-base;
		font-weight: @font-weight-bold;
		color: @color-base;
		font-size: @font-size-small;
	}

	&__text-subtext {
		color: @color-subtle;
		font-weight: @font-weight-normal;
		font-size: @font-size-small;
	}

	&__text-header {
		font-size: @font-size-base;
		font-weight: @font-weight-bold;
	}
}
